* {
    margin: 0;
    padding: 0;
}

/******* general******/

body {
    background-image: url(images/baggrund/baggrund_mobil_side.jpg);
    background-size: cover;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    font-family: 'HKGrotesk';
}

p {
    font-family: 'HKGrotesk';
    font-size: 0.9em;
}


@font-face {
    font-family: HKGrotesk;
    src: url(HKGrotesk-Regular.woff2);
}

header {
    height: 150px;
    width: 100%;

}

.icon {
    width: 10vw;


}


footer {
    height: 100px;
    width: 100%;
    background-color: blue;

}

/***** index *****/

.indexicon {
    text-align: center;

}

.indexicon img {
    height: 25vw;
    width: auto;
}

#splash {
    width: 100%;
    height: 100%;
    background-image: url(images/baggrund/baggrund_mobil_index.jpg);
    background-size: cover;
    padding-top: 20px;

}

#navindex {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbutton {
    margin: 0;
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 20px;

    border-radius: 50%;


}

.navbutton:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.1s;
}


/****nyheder******/

.newscontainer {
    margin: 20px;
    background-color: aqua;
    padding: 30px;
}

article {
    padding: 10px;
    background-color: aliceblue;
    font-family: 'HKGrotesk';
}

article a {
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 800;
    color: black;
}

article a:hover {
    font-size: 1em;
    text-decoration: none;
    font-weight: 800;
    transition: font-size 0.1s;

}

.newscontainerbg {
    margin: 10px;
    background-color: darkslategray;
    padding: 10px;
}
