* {
    margin: 0;
    padding: 0;
}

/******* general******/

body {
    background-image: url(images/baggrund/baggrund_mobil_index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'HKGrotesk';
}


h2 {
    font-size: 1.2em;
    text-align: center;
    font-family: 'HKGrotesk';
}

p {
    font-family: 'HKGrotesk';
    font-size: 0.9em;
}


@font-face {
    font-family: HKGrotesk;
    src: url(HKGrotesk-Regular.woff2);
}

header {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 100%;

}

.icon {
    width: auto;
    height: 5vw;

}

.kniv {
    width: 40%;
    position: absolute;
    z-index: -1;
    top: 31vw;
}


footer {
    height: 164px;
    width: 100%;
    background-color: blue;
    background-color: rgba(177, 199, 211, 0.59);
    color: #475665;
    text-align: center;
    padding-top: 35px;
    margin-top: 35px;

}

footer p {

    font-size: 0.5em;
}

.footercontent {
    padding: 5px;
    display: block;
    opacity: 1;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;

}

.footercontent a {
    text-decoration: none;
    color: #475665;
}

.footericon {

    height: 30px;
    width: auto;

}

.stroem {
    height: 30px;
}

.footercontact {
    display: flex;
    justify-content: flex-end
}

.footercontact img {
    height: 40px;
}

/***** index *****/

.indexicon {
    text-align: center;

}

.indexicon img {
    height: 25vw;
    width: auto;
}

#splash {
    padding-top: 20px;
    text-align: center;
}

#navindex {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbutton {
    margin: 0;
    height: 50px;
    width: 50px;
    margin: 20px;
    border-radius: 50%;
    height: auto;
    width: 130px;
    margin: 20px;
}

.navbutton:hover {
    transform: scale(1.1, 1.1);
    transition: transform 0.1s;
}


.navicon {}

/****nyheder******/

.newscontainer {
    background-color: rgb(98, 127, 140);
    padding: 30px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}

article {
    padding: 10px;
    font-family: 'HKGrotesk';
}

article a {
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 800;
    color: black;
}

article a:hover {
    font-size: 1em;
    text-decoration: none;
    font-weight: 800;
    transition: font-size 0.1s;

}

#newscontainerbg {
    margin: 10px 10px 40px 10px;
}


.big_img img {
    width: 100%;

    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}

.nyhed p {
    margin: 10px;
    margin-left: 5px;

}

nyhed a {
    color: #475665;
}

.newscontainerbg
/** enkelt nyhed **/

    {
    margin: 10px;
    color: #475665;
}

.newscontainerbg h2 {
    text-align: left;
    margin-top: 2vw;
}

.newsarticle {
    background-color: aliceblue;


}

.backbutton {
    position: absolute;
    top: 26vw;
    left: 2vw;
    background-image: url(images/nav_circles/back_button.png);
    background-size: contain;
    height: 7vw;
    width: 7vw;
    border-radius: 50px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}


/*restauranter*/

#rescontainerbg {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}


.rescontainer {
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;


}

/****enkelt restaurant****/

#menu {
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(176, 203, 209, 0.59);
    padding: 5px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
    color: #475665;
}

#menu img {
    height: 100px;
    text-align: center;
}

#contact {
    margin: 35px 10px 10px 10px;
    padding: 2vw;
    background-color: #EDE5DF;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);

}

#description {
    background-color: #fbfbfb66;
    padding: 6vw 2vw 2vw 2vw;

}

#description h2 {
    text-align: left;
    font-size: 1em;
}

.alignnone {
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
}

.maps {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}

.maps iframe {
    position: inherit;
    width: 90vw;
    height: 300px;


}

.bigcontainer {
    margin: 10px 10px 40px 10px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);

}


.nyhedsbrev {
    top: 80vh;
    left: 79vw;
    position: fixed;
    z-index: 10;
    width: 20vw;
}

h1 {
    text-align: center;
}


/**** burgermenu ***/

/*******tribar menu****/

/*design*/

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #EDE5DF;
    margin: 6px 0;
    transition: 0.4s;
}

.accordion {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    color: #444;
    cursor: pointer;
    margin: 2vw;
    padding: 2vw;
    background-color: #3d5566;
    height: 30px;
    width: 30px;
    text-align: left;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    z-index: 10;

}

.accordion:hover {
    transform: scale(1.1, 1.1);
}

main {
    position: relative;
    z-index: 0;
}

/* Style the accordion panel. Note: hidden by default */

#normalMenu {
    position: fixed;
    z-index: 7;
    top: 0;
    padding: 0;
    background-color: #475665;
    display: none;
    overflow: hidden;
    transition: 0.4s;
    width: 100%;
    border-top: 80px solid #2b3940;
    box-shadow: 0 5px 20px black;


}

#normalMenu button {
    text-decoration: none;
    border: none;
    z-index: 7;
    border-bottom: 1px solid #2b3940;
    display: block;
    background-color: transparent;
    padding: 4px;
    width: 100%;
    color: #EDE5DF;
    font-family: 'HKGrotesk';
    font-size: 1.5em;
    cursor: pointer;
}

#normalMenu button:hover {
    font-size: 2em;
}

#normalMenu a {
    text-decoration: none;
}

.MenuBackdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;

}


/*** book bord ***/

#bord {
    background-color: #475665;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px 0 40px 0;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}

input {
    margin-left: 2vw;
    margin-top: 1vw;
}

.bord {
    margin: 2vw;
    color: #ffffff;
}

/***newsletter****/

#newsletter {
    position: fixed;
    top: 53vh;
    margin: 2vw;
    color: #ffffff;
    background-color: #475665;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 40px 20px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.40);
}

#newsletter input {
    margin: 5px;
    margin-top: 1vw;

}
